<!doctype html>
<html ng-app="scoringApp">

<head>
    <title>Scoring</title>
    <meta charset="UTF-8">
    <link rel="icon" href="assets/favicon.ico" type="image/ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular-route.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/ngstorage@0.3.11/ngStorage.min.js"></script>
    <script src="https://crashmax-dev.github.io/fireworks-js/fireworks.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/831c51a170.css">
    <link rel="stylesheet" href="assets/scoring.css">
    <link rel="stylesheet" href="assets/firework.css">

    <script src="app/scoring.js"></script>
    <script src="assets/js/bs-toggle.js"></script>
</head>

<body>
    <div class="container" ng-controller="ScoringController as scoring">
        <base href="/scoring/">
        <nav class="navbar navbar-expand-lg navbar-light bg-light rounded mb-1">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <span>Crazy Rummy v{{scoring.version}}</span>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/scoring/score">Score</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/scoring/history">History</a>
                    </li>
                    <li>
                        <span class="nav-link" ng-click="scoring.clearScores()">Reset</span>
                    </li>
                </ul>
            </div>
        </nav>

        <div ng-view></div>

        {{scoring.getRoute()}}

        <!-- Modal -->
        <div class="modal fade" id="scoreModal" tabindex="-1" role="dialog" aria-labelledby="scoreModalTitle"
            aria-hidden="true">
            <div class="modal-dialog " role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Scores for round {{scoring.getRoundChar()}}
                        </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group row">
                            <label class="col-2 col-form-label text-center">I</label>
                            <div class="col-10">
                                <input type="number" class="form-control" ng-model="iScore">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-2 col-form-label text-center">S</label>
                            <div class="col-10">
                                <input type="number" class="form-control" ng-model="sScore">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" ng-click="scoring.saveScore();">Save
                            changes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>