<div class="flex-container">
    <div class="card card-body mb-1">
        <div ng-repeat="round in scoring.getHistory() track by $index">
            <div class="row historyRow mid border-bottom">
                <div class="col">
                    {{scoring.toDate(round.date)}}
                </div>
                <div class="col text-center">
                    <span class="text-primary">{{scoring.whoWon(round)}} </span> won by <span class="smaller">{{Math.abs(scoring.getIRoundTotal(round) - scoring.getSRoundTotal(round))}}</span>
                </div>
                <div class="col-2 text-right">
                    <i class="fa fa-plus text-danger pl-3 align-middle" data-toggle="collapse" data-target="#details{{$index}}"></i>
                </div>
            </div>
            <div class="row collapse mini" id="details{{$index}}">
                <div class=" col-6 bg-light">
                    <div class="row border-bottom mr-0">
                        <div class="col-4 p-0 text-center">I</div>
                        <div class="col-4 p-0 text-center"></div>
                        <div class="col-4 p-0 text-center">S</div>
                    </div>
                    <div class="short-container">
                        <div class="row border-bottom bg-white" ng-repeat="idx in [].constructor(13) track by $index">
                            <div class="col-4 p-0 text-center">{{round.iScores[$index]}}</div>
                            <div class="col-4 p-0 text-center text-nowrap"> {{scoring.rounds[$index]}} </div>
                            <div class="col-4 p-0 text-center">{{round.sScores[$index]}}</div>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="row tight border-bottom">
                        <div class="col-6 bg-light"><b>Stats</b></div>
                        <div class="col-3 text-center bg-light" ng-class="{'text-danger':round.dealer==0}"><b>I</b></div>
                        <div class="col-3 text-center bg-light" ng-class="{'text-danger':round.dealer==1}"><b>S</b></div>
                    </div>
                    <div class="row tight border-bottom">
                        <div class="col-6">Totals</div>
                        <div class="col-3 text-center">{{scoring.getIRoundTotal(round)}}</div>
                        <div class="col-3 text-center">{{scoring.getSRoundTotal(round)}}</div>
                    </div>
                    <div class="row tight border-bottom">
                        <div class="col-6">Wins/loses</div>
                        <div class="col-3 text-center text-nowrap">{{round.iWins}}/{{(round.iRound-round.iWins)}}</div>
                        <div class="col-3 text-center text-nowrap">{{round.sWins}}/{{(round.sRound-round.sWins)}}</div>
                    </div>
                    <div class="row tight border-bottom">
                        <div class="col-6"></div>
                        <div class="col-6">
                            <div class="progress">
                                <div class="progress-bar" ng-style="{'width': round.iWins/13*100 + '%'}" role="progressbar" aria-label="Win loss" aria-valuenow="{{round.iWins/13*100}}" aria-valuemin="0" aria-valuemax="100"></div>
                                <div class="progress-bar bg-warning" ng-style="{'width': (13-round.iWins)/13*100 +'%'}" role="progressbar" aria-label="Win loss" aria-valuenow="{{round.sWins/13*100}}" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row tight border-bottom">
                        <div class="col-6">Average</div>
                        <div class="col-3 text-center text-nowrap">{{Math.floor(round.iTotal/(round.iRound-round.iWins))}} </div>
                        <div class="col-3 text-center text-nowrap">{{Math.floor(round.sTotal/(round.sRound-round.sWins))}} </div>
                    </div>
                    <div class="row text-center mt-1">
                        <div class="col-12">
                            <button type="button" class="btn btn-sm btn-danger" ng-click="scoring.removeHistory($index)">Remove</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>