<div class="flex-container">
    <div class="card">
        <div class="card-header">
            Import
        </div>
        <div class="card-body mb-1">
            <p class="card-text">
                Paste your JSON to import history
                <textarea ng-model="importText" class="form-control" rows="10"></textarea>
            </p>
            <div class="btn btn-primary" ng-click="scoring.import()" data-toggle="modal" data-target="#importModal">Import</div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="importModal" tabindex="-1" role="dialog" aria-labelledby="importModalTitle" aria-hidden="true">
    <div class="modal-dialog " role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Import confirmation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    Are you sure you want to import {{scoring.importData[0].length}} games?
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" ng-click="scoring.importConfirmed();" data-toggle="modal" data-target="#importModal">Import</button>
            </div>
        </div>
    </div>
</div>