body {
    font-size: 24px;
    background-color: #000000;
}

.flex-container, body, html {
    height: 100%;
}

.flex-container {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

.playing-card {
    font-size: 3rem;
    width: 100%;
    height: 100%;
}

.winner {
    opacity: 90%;
}

.heading {
    font-size: 2rem;
}

.score-button {
    width: 150px;
}

.finger {
    cursor: pointer;
}

.bottom {
    overflow-y: scroll;
}

.resetscores {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 2rem;
}

.rounded {
    border-radius: .25rem;
}

.historyRow:last {
    border-bottom: 0 !important;
}

.historyRow>i {
    line-height: inherit;
}

.mini {
    font-size: 0.65rem;
}

.mid {
    font-size: 0.85rem;
}

.stat-header {
    font-size: 1rem;
}

.tight>div {
    padding: 0 5px;
}

.short-container {
    height: 100px;
    overflow-y: scroll;
    margin: 0 -15px;
}

.short-container .row {
    margin: 0;
}